<!-- <div class="container mt-5">
  <div class="row mb-4">
    <div class="col-4">
      <div class="card rounded-lg bg-light shadow-sm" style="max-height:425px">
        <h4 class="text-center bg-dark text-white rounded pt-4 pb-4">
          Trending 
        </h4>
        <div class="overflow-auto">
          <table class="table table-light table-striped table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="text-center">Icon</th>
                <th scope="col" class="text-center">Symbol</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">MC Rank</th>
              </tr>
            </thead>
            <tbody>

              {% for coin in trending %}
              <tr>
                <td class="text-center align-middle">
                  <img src="{{ coin.item.large }}" width="32" height="32" />
                </td>
                <td class="text-center align-middle fw-bold text-uppercase">
                  {{ coin.item.symbol }}
                </td>
                <td class="text-center align-middle text-capitalize">
                  {{ coin.item.name }}
                </td>
                <td class="text-center align-middle">
                  {{ coin.item.market_cap_rank }} Points
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card rounded-lg bg-light shadow-sm" style="max-height:425px">
        <h4 class="text-center bg-dark text-white rounded pt-4 pb-4">
          Exchange Trust Rank 
        </h4>
        <div class="overflow-auto">
          <table class="table table-light table-striped table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="text-center">Icon</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Ranking</th>
              </tr>
            </thead>
            <tbody>
              {% for exchange in exchange %}
              <tr>
                <td class="text-center align-middle">
                  <img src="{{ exchange.image }}" width="32" height="32" />
                </td>
                <td class="text-center align-middle text-capitalize">
                  {{ exchange.name }}
                </td>
                <td class="text-center align-middle">
                  {{ exchange.trust_score_rank }} Place
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card rounded-lg bg-light shadow-sm" style="max-height:425px">
        <h4 class="text-center bg-dark text-white rounded pt-4 pb-4">
          Change from ATH 
        </h4>
        <div class="overflow-auto">
          <table class="table table-light table-striped table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center">Symbol</th>
                <th scope="col" class="text-center">ATH</th>
                <th scope="col" class="text-center">Actual</th>
                <th scope="col" class="text-center">ATH Change</th>
              </tr>
            </thead>
            <tbody>
              {% for coin in ath %}
              <tr>
                <td class="text-center align-middle">
                  <img src="{{ coin.image }}" width="32" height="32" />
                </td>
                <td class="text-center align-middle text-uppercase fw-bold">
                  {{ coin.symbol }}
                </td>
                <td class="text-center align-middle">
                  {{ coin.ath }}
                </td>
                <td class="text-center align-middle">
                  {{ coin.current_price}}
                </td>
                <td class="text-center align-middle">
                  {% if coin.ath_change_percentage > 0 %}
                  <span style="color: green;">{{ coin.ath_change_percentage }}</span>
                  {% else %}
                  <span style="color: red;">{{ coin.ath_change_percentage }}</span>
                  {% endif %}

                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="col-12">
        <h4 class="text-center bg-dark text-white rounded pt-4 pb-4 shadow-sm">
          Top 15 Marketcap
        </h4>
      </div>
      <div class="overflow-auto" style="max-height:550px">
        <table class="table table-light table-striped table-sm shadow-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="text-center">Icon</th>
              <th scope="col" class="text-center">Symbol</th>
              <th scope="col" class="text-center">Name</th>
              <th scope="col" class="text-center">Price</th>
              <th scope="col" class="text-center">Marketcap</th>
              <th scope="col" class="text-center">High 24h</th>
              <th scope="col" class="text-center">Low 24h</th>

            </tr>
          </thead>
          <tbody>
            {% for coin in coins %}
            <tr>
              <td class="text-center align-middle">
                <a href="{% url 'coin_detail' coin.id %}">
                  <img src="{{ coin.image }}" width="32" height="32"/>
                </a>
              </td>
              <td class="text-center align-middle fw-bold text-uppercase">
                <a href="{% url 'coin_detail' coin.id %}">
                  {{ coin.symbol }}
                </a>
              </td>
              <td class="text-center align-middle textz-capitalize">
                <a href="{% url 'coin_detail' coin.id %}">{{ coin.name }}</a>
              </td>
              <td class="text-center align-middle">
                {{ coin.current_price }} USD
              </td>
              <td class="text-center align-middle">
                {{ coin.market_cap }} USD
              </td>
              <td class="text-center align-middle">
                {{ coin.high_24h }} 
              </td>
              <td class="text-center align-middle">
                {{ coin.low_24h }} 
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->