@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

:root {

  margin:0; 
  padding:0;

  --bg-color: #1e2324;
  --nav-text-color: #fcc780;
  --nav-text-color-fade: #c59b65;
  --bg-color2: #2f3535;
  --shadow-text:#101414;
  --nav-color: #b8c9cb;
  --white-cloud: #fefdea;
  --sky-color: #b9c9ca;
  --sky-faded: #576064;
}


/* Properties */

.border-gold{
  border-top: 20px solid var(--nav-text-color);
}

/* Navbar */

.bg-nav{
  background-color: var(--bg-color2);
  box-shadow: 0px 0px 25px 1px var(--shadow-text);
  border-bottom: 2px solid var(--nav-text-color);
}

.logo-tittle{
  font-size: 30px;
  color: var(--nav-text-color);
  font-family: 'La Belle Aurore', cursive;
  letter-spacing: 3px;
  text-shadow: 3px 3px 5px var(--shadow-text);

}

.logo-tittle:hover{
  text-shadow: 1px 1px 5px var(--nav-text-color);
  transform: scale(1.05);
}

.img-logo{
  box-sizing: border-box;
  -webkit-filter: 
    drop-shadow(2px 1px 0 var(--nav-text-color))
    drop-shadow(-1px -1px 0 var(--nav-text-color));
  filter: 
    drop-shadow(2px 1px 0 var(--nav-text-color)) 
    drop-shadow(-1px -1px 0 var(--nav-text-color));
}


.nav-link{
  color: var(--nav-text-color-fade);
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 19px;
}

.nav-link:hover{
  color: var(--nav-text-color);
  text-shadow: 1px 1px 8px var(--nav-text-color);
}

.btn-search{
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1.3px;
  font-weight: bold;
  background-color: var(--nav-text-color);
  color: var(--bg-color);
  box-shadow: 1px 1px 5px var(--shadow-text);
}

.btn-search:hover{
  background-color: var(--nav-text-color-fade);
  transform: scale(1.04);
}

#input-search{
  outline: none;
  border: 2px solid var(--nav-text-color);
}

.form-control:focus {
  border-color: var(--nav-text-color);
  box-shadow: inset 0px 0px 5px var(--nav-text-color-fade);
}



/* Texto e imagen */

.bg-header{
  background-color: var(--bg-color);
}


.text-display{
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-header{
  font-size: 3.5vw;
  font-family: 'Raleway', sans-serif;
  color: var(--nav-text-color);
  text-shadow: 6px 6px 0px var(--shadow-text);

}

.text-information{
  font-family: 'Dosis', sans-serif;
  color: var(--nav-text-color-fade);
  font-size: 2vw;
  text-shadow: 2px 2px 1px var(--shadow-text);
}

.text-description{
  font-family: 'Libre Franklin', sans-serif;
  color: var(--nav-text-color-fade);
  font-size: 20px;
  font-weight: bolder;
}

.big-img-circle {
  border-radius: 50%;
  object-fit: cover;
  box-sizing: border-box;
  filter:drop-shadow(0px 0px 20px var(--nav-text-color));
}


.big-img-circle:hover {
  transform: scale(1.02);
}


 
.btn-information{
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1.5px;
  font-weight: bold;
  background-color: var(--nav-text-color);
  color: var(--bg-color);
  width: 40%;
  box-shadow: 1px 1px 5px var(--shadow-text );
}

.btn-information:hover{
  background-color: var(--nav-text-color-fade);
  transform: scale(1.04);
}

/* Cards  */

.bg-information{
  background-color: var(--bg-color2);
}

.card-subtitle{
  font-size: 25px;
  font-weight: bold;
}

.card-title{
  font-size: 100px;
}

.card-img-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-container img {
  max-width: 100%;
  max-height: 100%;
}



/* Media Queries */


@media (max-width: 767px) {
  .big-img-circle {
    display: block;
    margin: 0 auto;
  }
  .text-header {
    text-align: center;
    margin-top: 3rem;
    font-size: 3.5rem;
  }
  .text-information {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 2.5rem;
  }
  .btn-information {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    width: 30rem;
  }
}




/* Media queries */



/* Header big picture logo and header  */

@media (min-width: 375px) and (max-width: 509px)  {
  .text-header {
    text-align: center;
    margin-top: 3rem;
    font-size: 2.5rem;
  }
  .text-information {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.7rem;
  }

  .btn-information {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 15rem;
  }

}

@media (min-width: 200px) and (max-width: 375px) {
  .text-header {
    text-align: center;
    margin-top: 1rem;
    font-size: 10vw;
  }
  .text-information {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 8vw;
  }

  .btn-information {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 15rem;
  }

}

@media (min-width: 768px) and (max-width: 1024px)  {
  .text-header{
    font-size: 4vw;
  }
  
  .text-information{
    font-size: 3vw;
  }

}


