@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

:root {
  --bg-color: #1e2324;
  --nav-text-color: #fcc780;
  --nav-text-color-fade: #c59b65;
  --bg-color2: #2f3535;
  --shadow-text:#101414;
  --white-cloud: #fefdea;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


/* General Properties */

.card-border-top{
  border-top: 20px solid var(--nav-text-color);
}

.border-gold-light{
  border-top: 2px solid var(--nav-text-color);
}

.text-header{
  font-family: 'Cabin', sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  color: var(--nav-text-color);
}

.text-information{
  font-family: 'Dosis', sans-serif;
  color: var(--nav-text-color-fade);
  font-weight: bold;
}

.text-description{
  font-family: 'Dosis', sans-serif;
  color: var(--nav-text-color-fade);
  font-weight: bolder;
}

.mark-text{
  color: var(--nav-text-color);
}

.color-cloud{
  color: var(--white-cloud);
}

.color-gold{
  color: var(--nav-text-color);
}




/* Navbar */

.bg-nav{
  background-color: var(--bg-color2);
  box-shadow: 0px 0px 25px 1px var(--shadow-text);
  border-bottom: 2px solid var(--nav-text-color);
}

.logo-tittle{
  font-size: 30px;
  color: var(--nav-text-color);
  font-family: 'La Belle Aurore', cursive;
  letter-spacing: 3px;
  text-shadow: 3px 3px 5px var(--shadow-text);
}

.logo-tittle:hover{
  text-shadow: 1px 1px 5px var(--nav-text-color);
  transform: scale(1.05);
}

.nav-link{
  color: var(--nav-text-color-fade);
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 19px;
  text-decoration: none;

}

.nav-link:hover{
  color: var(--nav-text-color);
  text-shadow: 1px 1px 8px var(--nav-text-color);
  text-decoration: none;

}

.nav-link:active, .nav-link:focus{
  color: var(--nav-text-color);
  transform: scale(1.1);
  text-decoration: none;

}

.btn-search{
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1.3px;
  font-weight: bold;
  background-color: var(--nav-text-color);
  color: var(--bg-color);
  box-shadow: 1px 1px 5px var(--shadow-text);
}

.btn-search:hover{
  background-color: var(--nav-text-color-fade);
  transform: scale(1.04);
}

.img-logo{
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
    -webkit-filter: 
      drop-shadow(1px 1px 0 var(--nav-text-color))
      drop-shadow(-1px -1px 0 var(--nav-text-color));
    filter: 
      drop-shadow(1px 1px 0 var(--nav-text-color)) 
      drop-shadow(-1px -1px 0 var(--nav-text-color));
}



#input-search{
  outline: none;
  border: 2px solid var(--nav-text-color);
}

.form-control:focus {
  border-color: var(--nav-text-color);
  box-shadow: inset 0px 0px 5px var(--nav-text-color-fade);
}

.navbar-toggler{
  background-color: var(--nav-text-color);
  border-color: var(--nav-text-color-fade);
}

.navbar-toggler:active, .navbar-toggler:focus{
  background-color: var(--nav-text-color-fade);
  border-color: var(--nav-text-color);
  box-shadow: none;
}



/* Texto e imagen */

.bg-header{
  background-color: var(--bg-color);
}

.big-img-circle {
  border-radius: 50%;
  object-fit: cover;
  box-sizing: border-box;
  filter:drop-shadow(0px 0px 20px var(--nav-text-color));
}

.big-img-circle:hover {
  transform: scale(1.02);
}

.btn-information{
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--bg-color);
  width: 42%;
  background-color: var(--nav-text-color);
  box-shadow: 1px 1px 5px var(--shadow-text );
}

.btn-information:hover{
  background-color: var(--nav-text-color-fade);
  transform: scale(1.04);
}

/* Cards  */

#title-information{
  font-size: max(3.1rem);
  font-family: 'Cabin', sans-serif;
  color: var(--nav-text-color);
  letter-spacing: 1.5px;
}


.bg-information{
  background-color: var(--bg-color2);
}

.card-subtitle{
  font-size: 1.5rem;
  font-weight: bold;
}

.card-title{
  font-size: 4rem;
}

.icon-card{
  max-width: 60px;
  position: absolute;
  right: 10px;
  top: 10px;
}


/* About Section */

.titleabout{
  color: var(--nav-text-color);
  font-size: max(4.1rem);
  font-family: 'Cabin', sans-serif;
  letter-spacing: 2px;
}

.about-information {
  font-family: 'Dosis', sans-serif;
  color: var(--nav-text-color-fade);
  font-size: 1.7rem;
}

/* Footer */

.socials{
  font-size: 1.5rem;
}

.text-footer{
  font-family: 'Titillium Web', sans-serif;
}


/* Media Queries */

/* Header big picture logo and header  */

@media (min-width: 100px) and (max-width: 765px)  {
  .text-header {
    font-size: 9.2vw;
  }
  .text-information {
    font-size: 5vw;
  }

  .btn-information {
    width: 75%;
  }

  .logo-tittle{
    font-size: 1.32rem;
  }

  .nav-link:active, .nav-link:focus{
    transform: scale(1.02);

  }

}

@media (min-width: 765px) and (max-width:767px) {
  .text-header {
    font-size: 9.2vw;
  }
  .text-information {
    font-size: 5vw;
  }

  .btn-information {
    width: 75%;
  }

  .logo-tittle{
    font-size: 1.33rem;
  }

}
/* End header */


/* Cards */

@media (max-width:843px) and (min-width:767px){
  .card-title{
    font-size: 3.3rem;
  }
}

/* End CARDS */

